﻿

@import url('tree-view.css');   /*дерево проекта*/


.center-absolut{
    position:absolute;
    top:50%;
    left:50%;
    margin:0;
    transform:translate(-50% ,-50%);
}
.vetrical-center{
     position:absolute;
    top:50%;
    left:0%;
    margin:0;
    transform:translate(0% ,-50%);
}
@font-face {
    font-family: 'PT-sans';
    src: url('../../fonts/PTC55F.ttf') format('truetype');
}


/*Делим строку на 2 колонки по полам*/
.col{
    position:absolute;
     width:50%;
    height:100%;  
}

.col-half-1{ 
    left:0;
}

.col-half-2{
     right:0;
}
/*-------------------------------*/



.icon-turn {   
    background: url('svg/ic_keyboard_arrow_left_black_24px.svg') center  no-repeat;
    width:32px;
    height:32px;
    transition:ease-in-out .43s;
}
.icon-turn-right {
 
    background: url('svg/ic_keyboard_arrow_right_black_24px.svg') center no-repeat;
    width: 32px;
    height: 32px;
    transition: ease-in-out .43s;  
}

.icon-setting {
    
    background: url('svg/ic_settings_white_24px.svg') center no-repeat;   
    width: 32px;
    height: 32px;
}

.circle {
    background-color: rgba(0,0,0,.1);
    width: 30px;
    height: 30px;
    border-radius: 50%;
}
   

    .circle:hover {
        background-color: rgba(0,0,0,.2);
    }

    .circle:active {
        background-color: rgba(0,0,0,.3);
    }
.an-vizible {
    display: none;    
}