﻿
body {
}

.tree-view {
    position: absolute;
    left: 0;
    top: 0;
    width: 240px;
    height: 100%;
    background-color: #f9f9f9; /*orangered*/
    transition: ease-in-out .6s;
}

.heder-tree-view {
    position: absolute;
    top: 0;
    left: 0;
    height: 50px;
    width: 240px;
    background-color: #157fcc;
}

    .heder-tree-view .title-box {
        position: absolute;
        top: 0;
        left: 0;
        width: 130px;
        height: 50px;
        white-space: nowrap;
    }

        .heder-tree-view .title-box p {
            font: 500 15px PT-sans,arial;
            color: #e6e6e6;
            text-transform: none;
            -moz-user-select: none; /* Firefox */
            -ms-user-select: none; /* Internet Explorer */
            -webkit-user-select: none; /* Chrome, Safari, and Opera */
            -webkit-touch-callout: none; /* Disable Android and iOS callouts*/
            cursor: context-menu;
        }

    .heder-tree-view .icon-box {
        position: absolute;
        top: 0;
        right: 10px;
        width: 100px;
        height: 50px;
    }



.splitter {
    position: absolute;
    right: -5px;
    top: 0;
    width: 8px;
    height: 100%;
    background-color: #5d9cca;
    cursor: col-resize;
}

/*Дерево после того как его свернули*/
.tree-view-mini-panel {
    position: absolute;
    left: 0;
    top: 0;
    width: 0;
    height: 100%;
    background-color: #157fcc;
    transition: ease-in-out .43s;
}

    .tree-view-mini-panel .title {
        position: absolute;
        width: 100%;
        height: 200px;
        top: 64px;
        left: 0;
    }

        .tree-view-mini-panel .title p {
            color: white;
            font: 500 15px PT-sans,arial;
            transform: rotate(90deg) translate(-50%, -0%);
            position: relative;
            top: 50%;
            left: 0%;
            white-space: nowrap;
        }

.icon-box-mini {
    position: relative;
    left: 0;
    width: 100%;
    height: 64px;
    transition: all .23s;
    background-color: #63a9dc;
}
.box-tree {
    position: absolute;
    top: 50px;
    height: auto;
    width: 100%;
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none; 
    -webkit-touch-callout: none; 
    cursor: pointer;    
     overflow: auto;
}

.box-tree ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
  position: relative;
}
 .box-tree li {
  list-style-type: none;   
  margin-left:20px;
}
  .box-tree .row-tree:hover{
      background-color:rgba(141, 206, 253, 0.29);
  }

.box-tree  li >  div {
  height:35px;
  padding-left:0;
  position: relative;
}
.row-tree{
    position:absolute;   
    width:100%;
    height:100%;   
}
.folder-arrow-open {
    position: absolute;
    top: 50%;
    left: 0%;
    width: 20px;
    height: 100%;
    transform:translate(0%,-50%);
    transition: all .2s;
    background: url('svg/ic_keyboard_arrow_down_black_18px.svg') center no-repeat;
}

.folder-arrow-close {
    position: absolute;
    top: 50%;
    left: 0%;
    width: 20px;
    height: 100%;
    transform: translate(0%,-50%);
    transition: all .2s;
    background: url('svg/ic_expand_less_black_18px.svg') center no-repeat;  
}
.folder-icon {
    position: absolute;
    top: 50%;
    left: 20px;
    width: 20px;
    height: 100%;
    transform: translate(0%,-50%);   
    transition: all .2s;
    background: url('svg/ic_folder_black_18px.svg') center no-repeat;    
}

.folder-icon-open {
    position: absolute;
    top: 50%;
    left: 20px;
    width: 20px;
    height: 100%;
    transform: translate(0%,-50%); 
     transition: all .2s; 
    background: url('svg/ic_folder_open_black_18px.svg') center no-repeat;    
}
.folder-title{
    position: absolute;
    top: 0%;
    right: 0;
    width: 100%;
    height: 100%; 
}
.folder-title p {
    position:absolute;
    left:50px;
    top:50%;
    transform:translate(0%,-50%);

}

.file-icon {
    position: absolute;
    top: 50%;
    left: 20px;
    width: 20px;
    height: 100%;
    transform: translate(0%,-50%);
    background-color: blue;
    background: url('svg/ic_insert_drive_file_black_18px.svg') center no-repeat;   
}
.file-title{
    position: absolute;
    top: 0%;
   
    width: 100%;
    height: 100%; 
}


.file-title p {
    position:absolute;
    left:50px;
    top:50%;
    transform:translate(0%,-50%);

}
 .drophover {
    background-color:rgba(212, 212, 212,.3);   
}

 .spinner-block{
     position:absolute;
     z-index:1000;
     left:-24px;     
     width:24px;
     height:100%;
 }