﻿@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    One Microsoft Way<br />
    Redmond, WA 98052-6399<br />
    <abbr title="Phone">P:</abbr>
    425.555.0100
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address>

<table id="tree" class="table">
    <tbody>
        <tr>
            <td>
                <div data-anchors="tree-view-id-1" class="folder-tree row-tree close-tree display-block">
                    <div class="row-attachments">
                        <div class="arrow-down"></div>
                        <div class="box"></div>
                        <div class="box-text">
                            <p class="vetrical-center">Folder</p>
                        </div>
                    </div>
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div data-anchors="tree-view-id-2" class="folder-tree row-tree open-tree display-block">
                    <div class="row-attachments">
                        <div class="arrow-down"></div>
                        <div class="box"></div>
                        <div class="box-text">
                            <p class="vetrical-center">Folder Open</p>
                        </div>
                    </div>
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div class="row-tree tree-view-id-2-parent display-block">
                    <div class="row-attachments level-1 ">
                        <div class="box-file"></div>
                        <div class="box-text">
                            <p class="vetrical-center">File</p>
                        </div>
                    </div>
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div data-anchors="tree-view-id-3" class="folder-tree row-tree open-tree tree-view-id-2-parent display-block">
                    <div class="row-attachments level-1">
                        <div class="arrow-down "></div>
                        <div class="box"></div>
                        <div class="box-text">
                            <p class="vetrical-center">Folder close</p>
                        </div>
                    </div>
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div class="row-tree tree-view-id-2-parent tree-view-id-3-parent display-block">
                    <div class="row-attachments  level-2 ">
                        <div class="box-file"></div>
                        <div class="box-text">
                            <p class="vetrical-center">File hide</p>
                        </div>
                    </div>
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div class="row-tree tree-view-id-2-parent tree-view-id-3-parent display-block">
                    <div class="row-attachments  level-2">
                        <div class="box-file"></div>
                        <div class="box-text">
                            <p class="vetrical-center">File</p>
                        </div>
                    </div>
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div class="row-tree tree-view-id-2-parent tree-view-id-3-parent display-block">
                    <div class="row-attachments level-2">
                        <div class="box-file"></div>
                        <div class="box-text">
                            <p class="vetrical-center">File</p>
                        </div>
                    </div>
                </div>
            </td>
        </tr>

    </tbody>
</table>
