﻿@{
    ViewBag.Title = "Tree View";
}



<div class="tree-view-mini-panel">
    <div class="icon-box-mini">
        <div id="mini-icon" class="center-absolut circle an-vizible">
            <span class="center-absolut icon-turn-right"></span>
        </div>
    </div>
    <div class="title"><p>Tree-view</p></div>
</div>
<div class="tree-view">
    <div class="heder-tree-view">
        <div class="title-box">
            <p class="center-absolut">Tree-view</p>
        </div>
        <div class="icon-box">
            <div class="col col-half-1"><div class="circle center-absolut"><span id="arrow_turn" class="center-absolut icon-turn"></span></div></div>
            <div class="col col-half-2"><div class="circle center-absolut"><span class="center-absolut icon-setting"></span></div></div>
        </div>
    </div>


    <div class="box-tree">
        <ul>
        </ul>
    </div>

    <div class="splitter">
    </div>
</div>

<script>
    var $box_tree_ul = $(".box-tree ul");//Box for tree   
    var $falag_draggable = false; //hide ul element

    var $row_folder_li =
        '<li data-type="folder" data-id-element="{4}" class="{3}">'+
               '<div class="folder">'+
                   '<div class="row-tree has-spinner">' +
                           '<div class="folder-arrow-open">'+
                          ' </div>'+
                          ' <div class="folder-icon-open">' +
           
                          ' </div>'+
                            '<div class="folder-title">'+
                                '<p>{1}</p>'+
                            '</div>' +
                            '<div style="display:none" class="spinner-block">' +
                            '<div class="center-absolut">' +
                             '<i class="fa fa-spinner fa-spin fa-lg fa-fw"></i>' +
                                  '  <span class="sr-only"></span>' +
                           ' </div>'
                            
                             '</div>'+
                    ' </div>'+
                 '</div>'+
           ' </li>'

    var $row_file_li =
                    '<li data-id-element="{5}" data-type="file">' +
                         '<div class="file">' +
                            '<div class="row-tree">' +
                                '<div class="file-icon">' +
                                '</div>' +
                                '<div class="file-title">' +
                                    '<p>{2}</p>' +
                                '</div>' +
                            '</div>' +
                        '</div>' +
                    ' </li>';

    /*
    **
    ** $target - element  where add
    ** result - list element
    ** 
    */
    function parss_tree($target, result, count) {
        $.each(result, function (index, value) {
            if (value.TypeEnum == 0)//Folder   
            {
                var $li_folder = $($row_folder_li.replace("{1}", value.Name).replace("{3}", "element-folder-tree-" + count).replace("{4}", value.id));
                $target.append($li_folder);
                var $ul = $('<ul>');
                $li_folder.append($ul);
                parss_tree($ul, value.ElementsTree, count);
                count++;
            }
            else {
                var $li_file = $row_file_li.replace("{2}", value.Name).replace("{5}", value.id);
                $target.append($li_file);
            }
        });
    }

    $(document).ready(function () {      
        $.get("/Home/GetListForTree", function (result) {
            if (result.success == true) {
                parss_tree($box_tree_ul, result.json, 0);

                $("li").draggable({
                    snap: "li",
                    opacity: 0.7,
                    zIndex: 500,
                    snapTolerance: 10,
                    start: function (event, ui) {
                        $falag_draggable = true;
                    },
                    stop: function (event, ui) {
                        $falag_draggable = false;
                        $(this).removeAttr('style')
                        $(this).css('position', "relative")
                    },
                    revert: true

                });

                $('li').droppable({
                    accept: 'li,ul',
                    drop: function (event, ui) {
                        var anchors = $(this).data("type");
                        if (anchors == "folder") {
                            var ul = $('<ul>').append(ui.draggable);
                            $(this).append(ul);
                            var data = {
                                parent_id: $(this).data("id-element"),
                                children_id: ui.draggable.data("id-element")
                            }

                            var $spiiner = $(this).find(".spinner-block:first").css("display", "block");
                            $.post("/Home/PostTransferElementTree", data, function (result) {
                                if (result.success == true) {
                                    console.log("good")
                                }
                                else {
                                    console.log("error")
                                }
                                $spiiner.css("display", "none");
                            });
                        }
                    },
                    greedy: true,

                });

                $("li > div").click(function () {
                    if (!$falag_draggable) {
                        var that = $(this).closest("li");
                        var ul = that.children("ul");
                        var $folder = $(ul).find();
                        $(this).find(".folder-arrow-open, .folder-arrow-close").toggleClass('folder-arrow-close folder-arrow-open');
                        $(this).find(".folder-icon-open, .folder-icon").toggleClass('folder-icon-open folder-icon');
                        if (ul.is(':visible')) {
                            ul.hide();
                        }
                        else {
                            ul.show();
                        }
                    }
                })
            }
            else {
                alert("/Home/GetListForTree - Error");
            }
        });  

    }) 


    /**close tree view **/
    var $tree = $(".tree-view");
    var $tree_mini = $(".tree-view-mini-panel");
    var $cercle = $("#mini-icon");

    $("#arrow_turn").click(function () {
        $tree.css("left", "-240px");
        setTimeout(visible_tree_mini, 600);
    })
    function visible_tree_mini() {
        $tree_mini.css("width", "60px");
        setTimeout(visible_tree_mini_icon, 400);
    }
    function visible_tree_mini_icon() {
        $cercle.css("display", "block");
    }
    /**close tree view **/

    /**open tree view **/
    $(".tree-view-mini-panel").click(function () {
        $cercle.css("display", "none");
        $tree_mini.css("width", "0");
        setTimeout(visible_tree_mini_f, 400);
    })
    function visible_tree_mini_f() {
        $tree.css("left", "0");
    }
    /**open tree view **/
    var $box_tree = $(".box-tree");

    $(document).ready(function () {
        var h = $tree.height() - 50;
        $box_tree.css("height", h);
    })
</script>
